<div class="wrapper">
    <div class="register-background">
        <div class="filter-black"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 ">
                    <div class="register-card">
                        <a href="/home"><h3 class="title">Welcome</h3></a>
                        <form action="/" method="POST" class="register-form" >
                            <label>Email</label>
                            <input type="text" class="form-control" name="username" id="username" placeholder="Email" autofocus>

                            <label>Password</label>
                            <input type="password" class="form-control" name="password" id="password" placeholder="Password">


                            <button class="btn btn-danger btn-block">Login</button>
                        </form>

                        <div class="forgot">
                            <a href="/register" class="btn btn-simple btn-danger">Register</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






<!--<h1>Login Form</h1>-->

<!--<form action="/" method="POST">-->
    <!--<div>-->
        <!--<label>Username:</label>-->
        <!--<input type="text" name="username" id="username"/>-->
    <!--</div>-->
    <!--<div>-->
        <!--<label>Password:</label>-->
        <!--<input type="password" name="password" id="password"/>-->
    <!--</div>-->
    <!--<div>-->
        <!--<input type="submit" value="Log In"/>-->

        <!--<a href="/register">Register</a>-->
    <!--</div>-->
<!--</form>-->

<!--<p>{{message}}</p>-->